<div class="container">
	<h3 class="text-center">List Booking</h3>
	<table class="table table-striped custab">
	    <thead>
	        <tr>
	            <th>No</th>
	            <th>Dokter</th>
	            <th>Hari</th>
	            <th>Tanggal</th>
	            <th>Jam Praktik</th>
	            <th>Nama Pasien</th>
	        </tr>
	    </thead>
        <% if @booking_data.any? %>
            <% @booking_data.each_with_index do |data, i| %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= data.work_detail.doctor.name %></td>
                    <td><%= data.work_detail.day %></td>
                    <td><%= data.booking_date %></td>
                    <%
                    	start_work_time = "#{data.work_detail.start_work_time.strftime("%H")}:#{data.work_detail.start_work_time.strftime("%M")}"
                    	end_work_time = "#{data.work_detail.end_work_time.strftime("%H")}:#{data.work_detail.end_work_time.strftime("%M")}"
                    %>
                    <td><%= start_work_time %> - <%= end_work_time %></td>
                    <td><%= data.patient_name %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
	
	<div class="row justify-content-center position-static">
		<nav aria-label="Page navigation example">		
	  		<%= paginate @booking_data %>
		</nav>
	</div>
</div>