<div class="container">
	<h3 class="text-center">List Rumah Sakit</h3>
	<% @hospitals.each do |hospital| %>
	  	<div class="card" style="width: 18rem; float: left; margin: 40px;">
	  		<a href="<%= hospitals_path %>/<%= hospital.slug %>">	  			
		    	<img src="<%= hospital.image %>" class="card-img-top" alt="">
	  		</a>
	  		<a href="<%= hospitals_path %>/<%= hospital.slug %>">	  			
			    <div class="card-body">
			        <h5 class="card-title"><%= hospital.name %></h5>
			        <p class="card-text"><%= hospital.location %></p>		        
			    </div>
	  		</a>
		</div>
	<% end %>
	<div class="row justify-content-center position-static">
		<nav aria-label="Page navigation example">		
	  		<%= paginate @hospitals %>
		</nav>
	</div>
</div>