<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSehatq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
  </head>

  <body>
    <%= render "/layouts/header" %>
    <%= yield %>
  </body>
</html>
